.blog {
  padding-top: 50px;
  padding-bottom: 50px;
}
.title {
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 48px;
}
.blogCards {
 display: flex;
 align-items: center;
 justify-content: center;

  gap: 20px;
}
.card {
  padding: 15px;
  width: 350px;
}
.card img {
  margin-bottom: 30px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
.card h6 {
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}
.card h6 span {
  color: #592ea9;
}
.card h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #232536;
  margin-bottom: 16px;
}
.card p {
  line-height: 28px;
  color: #232536;
}
@media (max-width: 992px) {
  .card h2 {
    font-size: 22px;
  }
  .card {
    padding: 15px;
    width: 250px;
  }
}
@media (max-width: 768px) {
  .card {
    padding: 15px;
    width: 300px;
  }
}
