*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  transition: all 0.2s ease;
  list-style: none;
}
body{
  display: flex;
  flex-direction: column;
}
.navbar{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.container{
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
